#### Define the relevant weather variables

In [1]:
weather_vaiables = {"precipitation": "RR", 
            "temperature_mean": "TG", 
            "temperature_max": "TX",
            "temperature_min": "TN",
            "sunshine_duration": "SS",
            "cloud_cover": "CC",
            "wind_speed": "FG",
            "humidity": "HU",
            "pressure": "PP",
            "snow_depth": "SD",
            
}

In [2]:
import pandas as pd

# load the sales dataframe created in the previous load_salesdata notebook
sales = pd.read_csv("processed_data/sales_suedhang_2021_2022.csv", parse_dates=True)
sales["date"] = pd.to_datetime(sales["date"])
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 695 entries, 0 to 694
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      695 non-null    datetime64[ns]
 1   day_of_week               695 non-null    object
 2   month                     695 non-null    object
 3   year                      695 non-null    int64
 4   week_of_year              695 non-null    int64
 5   Getränke_sales            695 non-null    float64
 6   Getränke_count            695 non-null    float64
 7   Speisen_sales             695 non-null    float64
 8   Speisen_count             695 non-null    int64
 9   Sonstiges_sales           695 non-null    float64
 10  Sonstiges_count           695 non-null    int64
 11  Milchmischgetränke_sales  695 non-null    float64
 12  Milchmischgetränke_count  695 non-null    int64
 13  Röstkaffee_sales          695 non-null    float64
 14  Röstkaffee_count          695 non-null    int64
 15  Kaffee_sales              695 non-null    float64
 16  Kaffee_count              695 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(7), object(2)
memory usage: 92.4+ KB

In [3]:
# create a copy of sales 
sales_and_weather = sales.copy()
# do the same for all variables and join them into one dataframe by date
for variable, code in weather_vaiables.items():
    # load the weatherdata from the raw_weatherdata folder
    weatherdata_variable = pd.read_csv(f"raw_weatherdata\{code}_STAID002763.txt", sep=",", skiprows=19, parse_dates=True)
    
    # clean the data, drop unnecessary columns, rename columns, 
    # convert date to datetime format, drop all dates before 2020-01-01, 
    # drop all rows with missing values and drop the quality column
    weatherdata_variable.columns = weatherdata_variable.columns.str.strip()
    weatherdata_variable.drop(columns=["SOUID"], inplace=True)
    weatherdata_variable.rename(columns={"DATE": "date"}, inplace=True)
    weatherdata_variable["date"] = pd.to_datetime(weatherdata_variable["date"], format="%Y%m%d")
    weatherdata_variable = weatherdata_variable[weatherdata_variable["date"] >= "2020-01-01"]
    weatherdata_variable.dropna(inplace=True)
    weatherdata_variable = weatherdata_variable[weatherdata_variable[f"Q_{code}"] == 0]
    weatherdata_variable = weatherdata_variable[["date", code]]

    # merge the weatherdata into the sales dataframe
    sales_and_weather = sales_and_weather.merge(weatherdata_variable, on="date", how="left")
    sales_and_weather.rename(columns={code: variable}, inplace=True)

sales_and_weather.to_csv("processed_data/sales_and_weather.csv", index=False)

In [4]:
sales_and_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 695 entries, 0 to 694
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      695 non-null    datetime64[ns]
 1   day_of_week               695 non-null    object
 2   month                     695 non-null    object
 3   year                      695 non-null    int64
 4   week_of_year              695 non-null    int64
 5   Getränke_sales            695 non-null    float64
 6   Getränke_count            695 non-null    float64
 7   Speisen_sales             695 non-null    float64
 8   Speisen_count             695 non-null    int64
 9   Sonstiges_sales           695 non-null    float64
 10  Sonstiges_count           695 non-null    int64
 11  Milchmischgetränke_sales  695 non-null    float64
 12  Milchmischgetränke_count  695 non-null    int64
 13  Röstkaffee_sales          695 non-null    float64
 14  Röstkaffee_count          695 non-null    int64
 15  Kaffee_sales              695 non-null    float64
 16  Kaffee_count              695 non-null    int64
 17  precipitation             617 non-null    float64
 18  temperature_mean          649 non-null    float64
 19  temperature_max           649 non-null    float64
 20  temperature_min           649 non-null    float64
 21  sunshine_duration         649 non-null    float64
 22  cloud_cover               497 non-null    float64
 23  wind_speed                647 non-null    float64
 24  humidity                  649 non-null    float64
 25  pressure                  649 non-null    float64
 26  snow_depth                370 non-null    float64
dtypes: datetime64[ns](1), float64(17), int64(7), object(2)
memory usage: 152.0+ KB

In [6]:
# drop all rows with missing values
sales_and_weather = sales_and_weather.dropna()
sales_and_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 458
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      334 non-null    datetime64[ns]
 1   day_of_week               334 non-null    object
 2   month                     334 non-null    object
 3   year                      334 non-null    int64
 4   week_of_year              334 non-null    int64
 5   Getränke_sales            334 non-null    float64
 6   Getränke_count            334 non-null    int64
 7   Speisen_sales             334 non-null    float64
 8   Speisen_count             334 non-null    int64
 9   Sonstiges_sales           334 non-null    float64
 10  Sonstiges_count           334 non-null    int64
 11  Milchmischgetränke_sales  334 non-null    int64
 12  Milchmischgetränke_count  334 non-null    int64
 13  Hafer_sales               334 non-null    int64
 14  Hafer_count               334 non-null    int64
 15  Röstkaffee_sales          334 non-null    int64
 16  Röstkaffee_count          334 non-null    int64
 17  Kaffee_sales              334 non-null    int64
 18  Kaffee_count              334 non-null    int64
 19  Non Kaffee_sales          334 non-null    int64
 20  Non Kaffee_count          334 non-null    int64
 21  Equipment__sales          334 non-null    int64
 22  Equipment__count          334 non-null    int64
 23  Summer_sales              334 non-null    int64
 24  Summer_count              334 non-null    int64
 25  Decaf_sales               334 non-null    int64
 26  Decaf_count               334 non-null    int64
 27  precipitation             334 non-null    float64
 28  temperature_mean          334 non-null    float64
 29  temperature_max           334 non-null    float64
 30  temperature_min           334 non-null    float64
 31  sunshine_duration         334 non-null    float64
 32  cloud_cover               334 non-null    float64
 33  wind_speed                334 non-null    float64
 34  humidity                  334 non-null    float64
 35  pressure                  334 non-null    float64
 36  snow_depth                334 non-null    float64
dtypes: datetime64[ns](1), float64(13), int64(21), object(2)
memory usage: 99.2+ KB